@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,900);

* {
	box-sizing:border-box;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background:linear-gradient(0deg, rgb(188,151,136) 30%, rgb(0, 221.85, 221.85) );
	transform-style:preserve-3d;
	transform:perspective(800px);
	font-family:'Lato', Sans-serif;
}

#card_container {
	width:700px;
	height:400px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-175px 0 0 -350px;
}

#card {
	color:#fff;
	padding:30px;
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
	box-shadow:0px 45px 100px rgba(0, 0, 0, 0.4), inset 0 0 0 1000px rgba(0, 76, 86, 0.6);
}

#card .text-block {
	position:relative;
	z-index:2;
	text-shadow:0 3 10 rgba(0, 0, 0, 0.7);
}

#card .text-block h1 {
	font-family:'Rubik', Sans-serif;
	font-size:3em;
	margin:0;
	text-transform:uppercase;
	font-weight:700;
}

#card .text-block h1 small {
	font-size:.4em;
	color:#ccc;
	position:relative;
	bottom:10px;
}

#card .text-block h3 {
	margin:0;
	font-weight:700;
}

#card .text-block p + li {
	font-weight:300;
	width:60%;
}

#card .text-block button {
	transition:all 0.35s cubic-bezier(0.37, 0.26, 0.35, 1);
	border:4px solid #fff;
	padding:10px;
	background:transparent;
	font-family:'Rubik', Sans-serif;
	text-transform:uppercase;
	font-weight:700;
	cursor:pointer;
}

#card .text-block button:hover {
	background:#004c56;
}

#card_container .pg {
	position:absolute;
	height:515px;
	width:40%;
	right:-10px;
	bottom:0px;
	z-index:2;
}

#card_container .pg > img{
	height:515px;
}

.shine {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 60%);
	z-index:1;
}

button {
	color:#fff;
}

#renderCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.avertissement {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
  }
  
  .phone {
	display: inline-block;
	width: 30px;
	height: 60px;
	border: 3px solid #fff;
	border-radius: 5px;
	position: relative;
  }
  
  .phone:after {
	content:'';
	width: 100%;
	border-bottom: 3px solid #fff;
	position: absolute;
	top: 4px;
	left: 0;
  }
  
  .phone:before {
	content:'';
	width: 100%;
	border-bottom: 3px solid #fff;
	position: absolute;
	bottom: 6px;
	left: 0;
  }
  
  .phone {
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-name: anim-rotate;
	animation-duration: 2s;
  }
  
  @keyframes anim-rotate {
	0%, 10% { transform: rotate(0deg) }
	40%, 60% { transform: rotate(90deg) }
	95%, 100% { transform: rotate(0deg) }
  }

  @media only screen and (orientation:portrait) {
  
	canvas {
		opacity: 0;
	}

	.avertissement {
		display: block;
	}
  }
  
  @media only screen and (orientation:landscape) {
	.avertissement {
		display: none;
	}
  }